restaurant/WebContent/wsdl/tablereservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://restaurantsystem" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://restaurantsystem" xmlns:intf="http://restaurantsystem" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://restaurantsystem" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="tableres">
    <complexType>
     <sequence>
      <element name="Name" type="xsd:string"/>
      <element name="Members" type="xsd:int"/>
      <element name="Date" type="xsd:string"/>
      <element name="TotalSeats" type="xsd:int"/>
      <element name="ID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="tableresResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="tableresResponse">

      <wsdl:part element="impl:tableresResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="tableresRequest">

      <wsdl:part element="impl:tableres" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="tablereservation">

      <wsdl:operation name="tableres">

         <wsdl:input message="impl:tableresRequest" name="tableresRequest">

       </wsdl:input>

         <wsdl:output message="impl:tableresResponse" name="tableresResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="tablereservationSoapBinding" type="impl:tablereservation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="tableres">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="tableresRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="tableresResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="tablereservationService">

      <wsdl:port binding="impl:tablereservationSoapBinding" name="tablereservation">

         <wsdlsoap:address location="http://localhost:8080/restaurant/services/tablereservation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
