restaurantmanagementsystem/WebContent/wsdl/order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://restaurantmanagementsystem" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://restaurantmanagementsystem" xmlns:intf="http://restaurantmanagementsystem" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://restaurantmanagementsystem" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addorder">
    <complexType>
     <sequence>
      <element name="orderID" type="xsd:int"/>
      <element name="Name" type="xsd:string"/>
      <element name="FoodName" type="xsd:string"/>
      <element name="Quantity" type="xsd:int"/>
      <element name="Contact" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addorderResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addorderResponse">

      <wsdl:part element="impl:addorderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addorderRequest">

      <wsdl:part element="impl:addorder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="order">

      <wsdl:operation name="addorder">

         <wsdl:input message="impl:addorderRequest" name="addorderRequest">

       </wsdl:input>

         <wsdl:output message="impl:addorderResponse" name="addorderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="orderSoapBinding" type="impl:order">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addorder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addorderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addorderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="orderService">

      <wsdl:port binding="impl:orderSoapBinding" name="order">

         <wsdlsoap:address location="http://localhost:8080/restaurantmanagementsystem/services/order"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
