restaurantmanagementsystem/WebContent/wsdl/partymenu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://restaurantmanagementsystem" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://restaurantmanagementsystem" xmlns:intf="http://restaurantmanagementsystem" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://restaurantmanagementsystem" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="partmenu">
    <complexType>
     <sequence>
      <element name="PartyMenuID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="partmenuResponse">
    <complexType>
     <sequence>
      <element name="partmenuReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="partmenuResponse">

      <wsdl:part element="impl:partmenuResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="partmenuRequest">

      <wsdl:part element="impl:partmenu" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="partymenu">

      <wsdl:operation name="partmenu">

         <wsdl:input message="impl:partmenuRequest" name="partmenuRequest">

       </wsdl:input>

         <wsdl:output message="impl:partmenuResponse" name="partmenuResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="partymenuSoapBinding" type="impl:partymenu">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="partmenu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="partmenuRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="partmenuResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="partymenuService">

      <wsdl:port binding="impl:partymenuSoapBinding" name="partymenu">

         <wsdlsoap:address location="http://localhost:8080/restaurantmanagementsystem/services/partymenu"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
