restaurantmanagementsystem/WebContent/wsdl/restmenu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://restaurantmanagementsystem" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://restaurantmanagementsystem" xmlns:intf="http://restaurantmanagementsystem" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://restaurantmanagementsystem" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="menu">
    <complexType>
     <sequence>
      <element name="menuid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="menuResponse">
    <complexType>
     <sequence>
      <element name="menuReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="menuRequest">

      <wsdl:part element="impl:menu" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="menuResponse">

      <wsdl:part element="impl:menuResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="restmenu">

      <wsdl:operation name="menu">

         <wsdl:input message="impl:menuRequest" name="menuRequest">

       </wsdl:input>

         <wsdl:output message="impl:menuResponse" name="menuResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="restmenuSoapBinding" type="impl:restmenu">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="menu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="menuRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="menuResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="restmenuService">

      <wsdl:port binding="impl:restmenuSoapBinding" name="restmenu">

         <wsdlsoap:address location="http://localhost:8080/restaurantmanagementsystem/services/restmenu"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
